html {
    font-family: 'Monaspace Xenon','Trebuchet MS',cursive; /* This font might not be available to reader. Will be added later to project. */
    font-weight: 400;
}

body {
    /* This section will be updated soon */
    background-color: black;
    color: whitesmoke;
}

.site-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

.topic-header {
    font-size: 30px
}

a, a:visited, a:active {
    color: beige;
}

